footer
    height: 100vh
    margin-left: 7em
    .footer-bas
        height: 50%
    div
        .footer-part-1
            display: flex
            align-items: center
            justify-content: space-around
            background-color: #070707a5
            padding: 0em 6em
            height: 20%
            hr
                height: 50px
            .flex-footer
                display: flex
                justify-content: center
                align-items: center
                width: 250px
            i
                font-size: 50px
                margin-right: 25px
            .text-foot
                display: flex
                flex-direction: column
                justify-content: center
                h4
                    font-size: 30px
        .footer-part-2
            height: 70%
            background-color:#0e0e0e
            .flex-footer
                display: flex
                height: 100%
                .div-1
                    flex: 2
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    h3
                        font-size: 80px
                        text-transform: uppercase
                        line-height: 70px
                    .return
                        transform: rotate(180deg)
                        color: #ffffff8c
                .div-2
                    flex: 1
                    display: flex
                    justify-content: center
                    align-items: center
                    .nav-link
                        ul
                            li
                                a
                                    color: white
                                    font-size: 20px
                                    line-height: 50px
                .div-3
                    flex: 1
                    display: flex
                    justify-content: center
                    align-items: center
                    ul
                        li
                            a
                                color: grey
                                font-size: 13px
                                line-height: 30px
        .footer-part-3
            text-align: center
            height: 10%
            display: flex
            justify-content: center
            align-items: center
            
.partenaire
    height: 50%
    .titre-partenaire
        height: 25%
        padding-top: 3em
        padding-left: 5em
        h2
            font-size: 50px
    .logo-partenaire
        height: 75%
        div
            height: 100%
            display: flex
            justify-content: space-around
            align-items: center
            img
                height: 120px


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
    footer
        .logo-partenaire
            height: 35%
            div
                flex-wrap: wrap
                height: 190px!important
                div

@media only screen and (min-device-width: 375px) and (max-device-width: 712px) 
    footer
        margin: 0
        height: 200vh
        .partenaire
            .titre-partenaire
                padding-left: 3em!important
            .logo-partenaire
                height: 55%
                margin: 0 10px
                div
                    flex-wrap: wrap
                    height: 150px!important
                    div
        .footer-bas
        div
            .footer-part-1
                padding: 0
                h4
                    font-size: 25px!important
                i
                    font-size: 25px!important
                p
                    font-size: 13px!important
            .footer-part-2
                .flex-footer
                    display: flex
                    flex-direction: column
                    .div-2 
                        display: flex
                        ul
                            display: flex
                            li
                                margin: 0 15px