.about-me
    margin-left: 7em
    height: 100vh
    .presentation
        height: 50%
        display: flex
        align-items: center
        justify-content: space-between
        .about-img
            flex: 1
            display: flex
            justify-content: center
            img
                height: 350px
        .about-text
            flex: 3
            h2
                font-size: 30px
                font-family: 'Roboto Mono', monospace
                text-transform: uppercase
            .press-h2-1
                font-size: 80px
                line-height: 55px
                margin-left: 1em
            .press-h2-2
                font-size: 115px
                line-height: 95px
            .press-h2-3
                font-size: 35px
                line-height: 30px
            .press-h2-4
                font-size: 65px
                margin-left: 6em
                line-height: 50px
            .press-h2-5
                font-size: 80px
                line-height: 65px
            .press-h2-6
                text-align: center
                color: #ffffff2e
                line-height: 25px
            .press-h2-7
                text-align: right
                margin-right: 5em
                color: #ffffff2e
                transition: 1s
                line-height: 28px
            .press-h2-7:hover
                text-align: center
                font-size: 55px
                color: red
    .skills
        height: 50%
        .trav-logi
            display: flex
            align-items: center
            height: 33%
            h2
                display: flex
                margin: 0 auto
                font-size: 50px
                span
                    margin-left: 15px
                    color: red
                    text-transform: uppercase
        hr
            width: 50%
            margin: auto